{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <link rel="stylesheet" href="{{ asset('js/search/build/static/css/main.68d4c617.css') }}">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-xVtrt5MG5-Ym3bZvezFY35Xx1xdEMI4"></script>
{% endblock %}

{% block body %}
    <div id="root" style="background-color:white;">
    	
        <div id="order">
          <div id="loader">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          <p>Chargement...</p>
          </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/search/build/static/js/main.ab3b5f91.js') }}"></script>
{% endblock %}