{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/search/main.7aefcc50.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search/main.7aefcc50.css.map') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-xVtrt5MG5-Ym3bZvezFY35Xx1xdEMI4"></script>
{% endblock %}


{% block body %}

    <h1 class="center">Module de recherche</h1>

    <div id="root">

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/search/main.fcad810d.js') }}"></script>
{% endblock %}