{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1>Ajouter une formation</h1>

    {{ form_start(edit_form) }}
        {{ include('EditeurBundle:Formation:_form.html.twig') }}
        <input type="submit" class="btn btn-hesam" value="Créer" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('editeur') }}">Retour</a>
        </li>
    </ul>
</div>

{% endblock %}