{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
	<section class="container">
		<h2>A propos de viSam</h2>

		<p>En cours de rédaction</p>
</section>
{% endblock %}