{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}

{% block stylesheets %}
	{{parent()}}

	<style>section
	{border-bottom:1px solid black};
	</style>

{% endblock %}


{% block body %}

	<div class="container">

	<section>
		<header>
			<img src="{path('/img/logo_hesam.png')}" alt="Logo Hesam"/>
			<h2>Cartographie des compétences</h2>
		</header>

		<article>
			<input type="text" placeholder= "Rechercher dans HESAM">
		</article>

		<article>
			<!-- Liste des logos HESAM-->
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
			<img src="{path('/img/logo_p1.png')}" alt="">
		</article>
		<p></p>
	</section>

	<section>
		
		<h2>Une cartographie des compétences d’HESAM Université, pour quoi faire ?</h2>

		<p>[qu'est-ce que c'est une cartographie des compétences]</p>

		<p>La cartographie des compétences est un projet mené par <a href="">HESAM Université</a>.
		<p>Le projet a pour objectif de présenter et de visualiser l’ensemble des données concernant la formation et la recherche parmi les membres de notre communauté d’établissements.</p>

		<p>[à quoi ça peut servir]</p>

		<p>[Lien entre labo et formation - faire un lien vers les labos et les formations]</p>

		<p>Le principe est simple : trouvez les laboratoires et les formations qui vous intéressent en effectuant une recherche simple, par mot-clé, ou avancée en sélectionnant les disciplines et/ou les établissements de votre choix.
Explorez les données qui vous sont proposées et trouvez la formation ou le laboratoire qui vous intéressent parmi nos 12 établissements de formation et de recherche.</p>

		<p>[les cibles???] [Exemples de recherche?] Je suis étudiant, je cherche une formation... / je suis un professeur</p>
	

		<p>Découvrez les synergies entre la formation et la recherche, que nous mettons en évidence à travers cette plateforme.</p>

	</section>
	
	<section>
		<h2>HESAM Université, c'est...</h2>

		<article>
			<h2>Liste des établissements</h2>
			<p>[Nous trouvons le lien vers les notices des établissements]</p>
			<ul>
				<li><a href='http://127.0.0.1:8000/etablissement/1'>CNAM</a></li>
				<li>Ecole du Louvre</li>
				<li>INED</li>
				<li>CNRS</li>
				<li>ENSCI</li>
				<li>ENA</li>
				<li>Université Paris 1</li>
				<li>ENSAPLV</li>
				<li>ENSAM</li>
				<li>ESCP</li>
				<li>INP</li>
				<li>INHA</li>
			</ul>
		</article>

		<article>
			<p>12 établissements d’enseignement et de recherche composent heSam Université, sous tutelles de 5 ministères et administrations (Ministère de l’enseignement supérieur et de la recherche, Ministère de la culture et de la communication, Ministère de l’Industrie, Services du Premier Ministre, Chambre de commerce et d’industrie de Paris)</p>

			<h2>1400 formations</h2>
			<p>(lien vers une recherche avancée orientée formation) : « heSam Université rassemble 1400 formations, du bac + 1 au doctorat, en formation initiale ou continue. Avec…. d’étudiants et auditeurs, notre communauté est classée… en Ile de France en nombre d’étudiants »</p>
			
			<h2>85 Laboratoires</h2>
			<p>85 laboratoires (lien vers une recherche avancée orientée laboratoires) : « Les laboratoires d’heSam Université sont pluridisciplinaires et concernent toutes les disciplines des sciences sociales, des sciences de l’environnement et des sciences de l’ingénieur. »</p>

			<h2>14 écoles doctorales</h2>
			<p>14 écoles doctorales (lien vers une recherche avancée orientée écoles doctorales) : les écoles doctorales réunies dans heSam Université rassemblent…de doctorants. Elles sont réparties entre le CNAM et Paris 1. </p>
		</article>
	
		<article>
			<h2>Répartition des formations par établissement</h2>

			<h2>Répartition des labos par établissement</h2>

			<h2>Répartition des formations par niveau</h2>
		</article>


		
	</section>

	<section>
		<h2>Les thématiques</h2>
		<h3>NW3</h3>
		<h3>Les disciplines</h3>
	</section>

	<section>
		<h2>Carte</h2>
	</section>

	<section>
		<h2>A propos</h2>
		<ul>
			<li>A propos</li>
			<li>Contact</li>
		</ul>
	</section>
	</div>

{% endblock %}