{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}

{% block stylesheets %}
	{{parent()}}

{% endblock %}

{% block body %}

	<section class="container">
		<article>
			<img src="" alt="Logo HESAM Université">
		</article>
			<input type="text">
	</section>

{% endblock %}