{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}

<html lang="fr">

<body>

  <div class="container">
      <input type="text" id="search-input" placeholder="Recherche">
      <div class="row">
      <div id="facets" class="col s3 m3"></div>
      <section class="col s9 m9">
        <div id="order"></div>
        <div id="results"></div>
      </section>
      
      
      </div>

  </div>


</body>


    <script src="../bower_components/recherche/jquery-1.6.2.js"></script>
    <script src="../bower_components/recherche/underscore-1.1.7.js"></script>

    <script src="../bower_components/recherche/facetedsearch.js"></script>
    <script src="../bower_components/recherche/data-new.js"></script>
    <script src="../bower_components/recherche/facette.js" type="text/javascript" ></script>


{% endblock %}