{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
<!-- <iframe id='rechercher' src="http://interlivre.fr/projet/visam/demo/recherche.html?search" frameborder="0"></iframe> -->
<html ng-app="uxprototypeApp" lang="fr">

<body>


<div ng-controller="SearchCtrl">
<section class="container">
   <p>
      <input id="search-input" type="text" placeholder="Recherche" name="q" data-ng-model="searchTerm">
    </p>
</section>

<div class="">
<div class="row">
      <ul class="tabs z-depth-1" >
        <li class="tab col s3" data-ng-repeat="brand in brandsGroup | limitTo: maxBrands">
              <input class="checkbox" type="checkbox" data-ng-model="useBrands[brand]" checked="checked"/>
             <label >
                <input class="checkbox" class="filled-in" type="checkbox" data-ng-model="useBrands[brand]" checked="checked" style="visibility: hidden !important"/>
                  {[{brand}]}
                  <span>({[{ (filteredProducts | filter:searchTerm | filter:count('type', brand)).length }]})</span>
                  </label>
              </li>
        <li class="tab col s3 disabled"> <input class="checkbox" type="checkbox"  disabled="disabled" /><label>Ecoles Doctorales</label></li>
      </ul>
</div>

<div class="row">

    <aside class="searchfilters col s4">
      <div class="facets">
<!--       <section class="controls-sorting">
        <div class="sorting"> <span class="title">Trier par:</span>
            <div class="btn-group">     
                <button type="button" class="btn btn-default btn-xs" data-ng-click="setOrder('2', 'Brand', false)" data-ng-class="{active: sorting.id  === '2'}">Nom A-Z</button>
                <button type="button" class="btn btn-default btn-xs" data-ng-click="setOrder('3', 'Brand', true)" data-ng-class="{active: sorting.id  === '3'}">Nom Z-A</button>
            </div>
        </div>
      </section> -->



            <section class="facetgroup" ng-if="filteredProducts.length > 0">
                <h4>Établissements</h4>
                <div data-ng-repeat="etablissement in etablissementGroup">
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="useEtablissement[etablissement]" />
                        <span>{[{etablissement}]} </span>
                        <span ng-if="(filteredProducts | filter:searchTerm | filter:count('etablissement', etablissement)).length > 0">
  ({[{(filteredProducts | filter:searchTerm | filter:count('etablissement', etablissement)).length}]})
                        </span>
                    </label>
                </div>
            </section>

            <section class="facetgroup" ng-if="filteredProducts.length > 0">
                <h4>Disciplines</h4>
                <div data-ng-repeat="discipline in disciplineGroup | orderBy : '-value' | limitTo: maxBrands">
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="useDisciplines[discipline.item]" />
                        <span>{[{discipline.item}]}
                        ({[{filteredProducts | countera:discipline.item}]})
                        </span> 

                    </label>
                </div>
                <span data-ng-show="maxBrands<16" class="link" data-ng-click="maxBrands = 100">Plus...</span> <span data-ng-show="maxBrands>15" class="link" data-ng-click="maxBrands = 15">Moins</span> 
            </section>

            <section class="facetgroup" ng-if="filteredProducts.length > 0">
                <h4>Equipements</h4>
                <div data-ng-repeat="equipement in equipementsGroup | orderBy : '-value' | limitTo: maxBrands">
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="useEquipemments[equipement.item]" />
                        <span>{[{equipement.item}]}
                        ({[{filteredProducts | countmarto:equipement.item}]})
                        </span> 

                    </label>
                </div>
                <span data-ng-show="maxBrands<16" class="link" data-ng-click="maxBrands = 100">Plus...</span> <span data-ng-show="maxBrands>15" class="link" data-ng-click="maxBrands = 15">Moins</span> 
            </section>
            
        </div>
    </aside>

    <div class="col s8">

            <section data-ng-repeat="product in filteredProducts | filter:searchTerm | orderBy: sorting.order:sorting.direction | limitTo:20" id="{[{product.Sku}]}"  >

              <div class="col s12 m12">
                  <div class="card formation" ng-if="product.type != 'Formation'">
                      <div class="card-content">
                      <span class="item-labo">Laboratoire</span>
                      <span class="etablissement"><span>- {[{product.ctype}]} </span>{[{product.code}]}</span>
                        <a href="/labo/{[{product.id}]}" ng-if="product.type != 'Formation'">
                         <h5>{[{product.name}]} ({[{product.sigle}]})</h5>
                         </a>
                         <span> {[{product.etablissement}]}</span>
                          <ul class="list-thematique" >
                            <li data-ng-repeat="hesamette in product.hesamette"><a class="" href="#">{[{hesamette}]}</a>|</li>
                          </ul>
                      </div>
                      <div class="card-action">
                        <a href="{[{product.url}]}"><i class="material-icons">input</i>Lien vers le laboratoire</a> 

                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<a href="editeur/labo/{[{product.id}]}/edit"><i class="material-icons">mode_edit</i>Modifier les données</a>{% endif %}

                        <!-- Changer avec l'édition d'un labo / problème pour synchroniser le id avec celui de symfony en utilisant les routes prédéfinies => path('editeur_labo_edit', { id : 1 }) -->
                        <div style="float:right;">
                            <span>              <a href="mailto:{[{product.mailcontact}]}"><i class="material-icons">mail</i>{[{product.mailcontact}]}</a></span>
                          </div>
                      </div>
                  </div>
                  <div class="card laboratoire" ng-if="product.type != 'Laboratoire'">
                      <div class="card-content">
                      <span class="etablissement"><span>{[{product.type}]}</span> - {[{product.niveau}]}</span>
                      <a href="/formation/{[{product.id}]}" ng-if="product.type != 'Laboratoire'">
                         <h5>{[{product.name}]}</h5>
                      </a>
                         <span> {[{product.etablissement}]}</span>
                          <ul class="list-thematique" >
                            <li data-ng-repeat="discipline in discipline |limitTo: 2"><a class="" href="#">{[{discipline}]}</a>|</li>
                          </ul>
                      </div>
                      <div class="card-action">
                        <a href="{[{product.url}]}"><i class="material-icons">input</i>{[{product.url}]}</a>
                        

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                          <a href="editeur/formation/{[{product.id}]}/edit"><i class="material-icons">mode_edit</i>Modifier les données</a> <!-- Changer avec l'édition d'une formation / problème pour synchroniser le id avec celui de symfony en utilisant les routes prédéfinies => path('editeur_formation_edit', { id : 1 }) -->
                        {% endif %}
                        
                        <div style="float:right;">
                            <span>Année : <strong>{[{product.annee}]}</strong><span> - 
                            <span>Effectif : <strong>{[{product.effectif}]}</strong></span>
                        </div>
                      </div>
                  </div>
            </section>
    </div>
</div>
 
</body>

    <script src="../bower_components/recherche/angular.min.js"></script>
    <script src="../bower_components/recherche/ui-bootstrap.js"></script>
    <script src="../bower_components/recherche/angular-ui.min.js" charset="utf-8"></script>
    <script src="../bower_components/recherche/data-new.js"></script>
    <script src="../bower_components/recherche/facette.js" type="text/javascript" ></script>

{% endblock %}