{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}
{% block stylesheets %}
    
{% endblock %}


{% block body %}

<section class='container'>
    <header>
        <h1>vi<span class='rouge'>S</span>am</h1>
        <h2><span class="rouge">Vis</span>ualisation des compétences de la COMUE he<span class="rouge">Sam</span> Université</h2>
    </header>


     <h2>Page d'acccueil de l'API</h2>

     <p>Sur cette page, se trouvera la documentation des fonctions.</p>
     <p>Voir la page de test : <a href="/api/test">cliquer ici</a>.</p>	

</section>
{% endblock %}