{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}


{% block body %}

    <section class="container">

        <h1 class="center">!!Page secrète!!</h1>

        <h2 class="center">Why are U here?!</h2>

        <div class="row">
        <article class="col offset-s3 s6">
            <p>Chèr(e) user, vous avez trouvé ce qui ne sera jamais trouvé : la page secrète de notre application.</p>
            <p>Félicitations! Malheureusement la princesse est dans un autre château.</p>
            <p>Personne n'est sensé venir ici, mais puisque vous l'avez fait, je vous propose une petite vidéo pour passer le temps : parce que vous devez en avoir du temps :p</p>

            <br>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/SR9yWFspCYs" frameborder="0" allowfullscreen></iframe>

            <p style="color:white">Si vous voulez me dire un petit bonjour  : gaetan(pt)darquie(at)gmail.com</p>

        </article>
        </div>
    </section>

{% endblock %}