{% extends 'base.html.twig' %}

{% block body %}

    <section class="container">
        <h1>Ajout d'un établissement</h1>

        {{ form_start(etablissementForm) }}
            {{ form_widget(etablissementForm.description, { 'attr': {'class': 'materialize-textarea'} }) }}
            <input type="submit" value="Create" />
        <!-- materialize-textarea -->
        {{ form_end(etablissementForm) }}

        <ul>
            <li>
                <a href="{{ path('editeur') }}">Retour à l'éditeur</a>
            </li>
        </ul>

    </section>
{% endblock %}
