{% extends "base.html.twig" %}

{% block body %}

    <section class="container">
        <h1>Mises à jour</h1>

        <article>
            <h2>Version 1.1</h2>
            

            <h3>Amélioration de l'ajout d'une formation</h3>
                <ul class="browser-default">
                    <li>Default Controller : ajout d'une vérification de l'existance des rebons pour éviter un message d'erreur s'il n'y en a pas lors de l'affichage d'une notice formation</li>
                    <li>Ajouter un établissement : en cours (faire un reverse sur les formations)</li>
                </ul>

        </article>
    </section>

{% endblock %}