p {
    font-size: 1.8rem;
}

#mainLogo{
    margin-top: 30px;
}


#domaines, #methode{
    display:none;
}

.help-home .plus{
    cursor:pointer;
    text-decoration : underline;
}

.plus{
    margin: auto;
    max-width:600px;
}

.plus button{
    margin-top:10px;
    margin-bottom: 15px;
}

body{
    min-height: 1000px;
}