/*  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }*/

.number {
	font-size: 2.6em;
}

.number-label {
	font-size: 1.4em;
}

.max-height {
	max-height: 230px;
    overflow: hidden;
}

.card a {
	color: black;
}

.chip {
	border:1px solid #ffab40;
	background-color: white;
	color: #ffab40;
}
/* Parallax */

.parallax-container {
  height: 350px;
}

.cartouche{
    border:1px solid #CC0000;
    border-radius: 3px;
    padding : 10px;
    margin: 5px 15px;
    margin-bottom: 10px;
}

.cartouche_checked{
    border: 1px solid #31B404;
    border-radius: 3px;
    padding : 10px;
    margin: 5px 15px;
    margin-bottom: 10px;
}

.form h3{
    font-size: 1.3em;
}

.form label{
    color:#2B373B;
}

/* General */



#ecoles .card-content{
  height:150px
}

.card-content{
  overflow:auto;
}

#map{
  height:700px;
}

#rechercher{
  width: 100%;
  height:800px;
}

.brand-logo{
  margin-left: 10px;
}

.pointer{
  cursor: pointer;
}

.tags {
margin-bottom: 4px;
}

.redHesam{
    background-color :#de1d34;
}

/* Buttons */

.btn-hesam {
    background-color: #de1d34;
}

.btn-hesam:hover{
    background-color: #de1d34;
}

.btn-hesam-inverse {
    background-color: white;
    color: #de1d34;
}


/* Header */

header{
    background-color:  #de1d34;
}


/* Homepage  */

.recherche-home {
  background:url('../img/louvres.jpg'); 
  background-size: cover;
}

.presentation-home .anr {
  font-weight: 700;
}

.recherche-home #mainLogo {
  width:350px;
}

.recherche-home .titre {
  text-align: center;
}
.recherche-home h1 {
  font-size: 2.9rem;
}


.recherche-home .wrapper {
  background-color: rgba(255,255,255,0.5);
}

.recherche-home input {
  background-color: white;
  padding: 0px 15px;
  margin-left : -0.75rem;
}

.recherche-home input:focus:not([readonly]) {
    border-bottom: 1px solid #de1d34;
    box-shadow: 0 1px 0 0 #de1d34;
}

.recherche-home form {
  margin-bottom: 90px;
}

.chiffres-home {
  margin-top: -70px;
}
.chiffres-home li {
  background-color: white;
  min-height: 150px;
  border: 1px solid #e9e9e9;
  padding: 5px;
  text-align: center;
  font-size: 1.8rem;
}
.chiffres-home li span {
  font-size: 4rem;
  display: block;
}


.rubrique-home {
  background-color: #4B5063;
  color:white;
}

.rubrique-home li {
  font-size:1.5rem;
}

.rubrique-home a {
  color:white;
}
.etablissements-home li {
  text-align: center;
  border: 1px solid #e9e9e9;
}
.etablissements-home img {
  max-height: 140px;
  min-height: 140px;
}

footer h2{
    font-size: 1.9em;
}

footer p{
    font-size: 1.1em;
}


footer .container-fluid {
  margin-bottom: 0px;
}

.red-hesam{
    background-color: #de1d34;
}

.accueil-liens{
    font-size: 1.2em;
    text-decoration: underline;
}

footer {
    background-color: #e9e9e9;
}

footer {
  color:black;
}

footer a {
  color: #4B5063;
}


footer.page-footer {
    background-color:  #e9e9e9;
    margin-top:0px;
}


footer .contactHesam{
    line-height: 1px;
}

footer h2, footer h3{
    margin-top: 0px;
}

.footer-menu {
  background-color: #4B5063;
  text-align:center;
      margin-top: 120px;

}
.footer-menu ul {
  margin:0;
  color:white;
}
.footer-menu li {
  display:inline-block;
  padding: 10px 20px;
}

.footer-menu li  a {
  color:white;
}

.footer-copyright {
  color: #4B5063 !important;
}


#form-type-csv, #form-file-csv{
    float: left;
    width: 50%;
}

.invalid {
    color: red;
 }

.valid {
    color: limegreen;
}


/* List js */

.pagination .active{
    background: #de1d34!important;
}