/*  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }*/

.number {
	font-size: 2.6em;
}

.number-label {
	font-size: 1.4em;
}

.max-height {
	max-height: 230px;
    overflow: hidden;
}

.card a {
	color: black;
}

.chip {
	border:1px solid #ffab40;
	background-color: white;
	color: #ffab40;
}
/* Parallax */

.parallax-container {
  height: 350px;
}

.cartouche{
    border:1px solid #CC0000;
    border-radius: 3px;
    padding : 10px;
    margin: 5 15px;
    margin-bottom: 10px;
}

.cartouche_checked{
    border: 1px solid #31B404;
    border-radius: 3px;
    padding : 10px;
    margin: 5 15px;
    margin-bottom: 10px;
}

.form h3{
    font-size: 1.3em;
}

.form label{
    color:#2B373B;
}

/* General */



#ecoles .card-content{
  height:150px
}

.card-content{
  overflow:auto;
}

#map{
  height:700px;
}

#rechercher{
  width: 100%;
  height:800px;
}

.brand-logo{
  margin-left: 10px;
}

.pointer{
  cursor: pointer;
}

.tags {
margin-bottom: 4px;
}

.redHesam{
    background-color :#e42e18;
}

/* Buttons */

.btn-hesam {
    background-color: #e42e18;
}

.btn-hesam:hover{
    background-color: #e42e18;
}

.btn-hesam-inverse {
    background-color: white;
    color: #e42e18;
}


/* Header */

header{
    background-color:  #ef4023;
}


/* Footer */
/*
footer h1, footer h2, footer h3{
    text-align: center;
}*/

footer h2{
    font-size: 1.9em;
}

footer p{
    font-size: 1.1em;
}

.page-footer{
    color:white;
}

footer .container-fluid {
  margin-bottom: 0px;
}

.red-hesam{
    background-color: #ef4023;
}

.accueil-liens{
    font-size: 1.2em;
    text-decoration: underline;
}

footer {
    background-color:  ##ef4023;
}


footer.page-footer {
    margin-top: 120px;
    background-color:  #ef4023;
}


footer .contactHesam{
    line-height: 1px;
}

footer h2, footer h3{
    margin-top: 0px;
}

#form-type-csv, #form-file-csv{
    float: left;
    width: 50%;
}

.invalid {
    color: red;
 }

.valid {
    color: limegreen;
}

