{% extends 'base.html.twig' %}

{% block fos_user_content %}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>

		.chapeau{
		font-weight: bold;
		font-size: 1.2em;
		}

		#apropos div{
			padding-left: 40px;

		}

	</style>
{% endblock %}

{% block body %}

	<section class="container row" id="apropos">

		<div class="col s10 offset-s1 card">

            <h1 class="center">Visualiser les compétences en recherche et formation d’HESAM Université</h1>

            <p class="chapeau">La cartographie d’HESAM est une base de données en ligne qui permet de trouver les informations essentielles concernant la formation et la recherche conduites par les établissements membres de notre communauté d’établissement.</p>

            <p>En combinant les données fournies par nos membres et des données issues de sources ouvertes, cet outil propose un ensemble d’informations permettant de décrire et de comprendre les synergies entre les fonctions recherche  (thématiques et axes de recherche, équipement spécifique, établissement porteur, site du laboratoire…) et formation ; thématiques et disciplines d’enseignement,  niveau et type de diplôme, localisation, page Web de la formation …).</p>

            <p>En  indexant toutes nos entités à l’aide des mêmes thématiques et disciplines, cette cartographie accompagne ses utilisateurs dans l’identification des laboratoires de recherche et des formations d’HESAM Université ; elle permet également de visualiser le lien qui existe entre le monde de la recherche et celui de la formation.</p>

            <p>Quelques exemples de questions pour lesquelles cet outil vous sera utile : </p>
            <li>Quel laboratoire d’HESAM pourrait accueillir votre projet de thèse ? Et quelle école doctorale ?</li>
            <li>HESAM Université propose t’elle des formations dans votre région ?</li>
            <li>HESAM possède-t-elle des compétences en tourisme pour aider votre collectivité à monter un projet dans ce domaine ?</li>
            <li>Quels établissements de recherche et/ou de formation d’HESAM travaillent sur le même sujet que vous ?</li>
            <br>
            <hr>

            <h2 class="center">Carto HESAM v2 - Liste des personnes travaillant sur le projet & remerciements</h2>
            <br>
            <li>Cécile Delay-Artous,  responsable du projet</li>
            <li>Sandra Ziemele, développeuse web</li>

            <h3>Comité de suivi :</h3>
            <li>Jean-Luc Delpeuch, Président d’HESAM Université</li>
            <li>Hugues Brunet, Délégué général d’HESAM Université</li>
            <li>Nathalie Tingry, Directrice du numérique d’HESAM Université</li>
            <li>Clotilde Ferroud, VP recherche d’HESAM Université - Directrice de la recherche du Cnam</li>
            <li>Philippe Dedieu, VP numérique d’HESAM Université - Directeur national du numérique du Cnam</li>
            <li>Nazih Mechbal, VP formation d’HESAM Université – Maître de conférences HDR, Arts et Métiers ParisTech</li>
            <li>Sylvie Coussegal, Coordinatrice de l’offre de formation du Cnam</li>

            <h3>Prestation de développement et maîtrise d’ouvrage :</h3>
            <li>Gaétan Darquié</li>
            <li>Mehdi Bourgeois</li>

            <p>Tous nos remerciements à l’ensemble de l’équipe HESAM ainsi qu’à Sonia Litaëm, et aux équipes administratives des établissements membres, qui ont eu la bienveillance et la patience nécessaires pour répondre à nos sollicitations.</p>

        </div>

	</section>


{% endblock %}
