{% extends 'base.html.twig' %}

{% block javascripts %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/accueil.css") }}">
{% endblock %}

{% block fos_user_content %}{% endblock %}

{% block body %}

    <div class="container">

      <div class="row center rechercher-wrapper">

        <div class="col offset-s3 s6">
          <img src="img/hesam.jpg" class="responsive-img" id="mainLogo" alt="Logo HESAM Université">
        </div>
        <div class="col s12 middle-titre">
          <h3>Cartographie des compétences</h3>
        </div>

        <div class="low-titre">
          <form action="rechercher"   method="get">
            <input type="text" name="search" placeholder="Exemples : Sociologie, urbanisme, industrie, microscope ">

            <input class="btn btn-hesam" type="submit" value="Rechercher">
          </form>
        </div>

      </div>
    </div>

      <div class="container row">
        <div class="col offset-l1 offset-m1 offset-s1 s10 m10 l10">
          <div class="z-depth-1 blue-grey lighten-5 help-home">
            La cartographie des compétences permet d'obtenir des informations sur les :
            <ul>
              <li><strong>- formations<strong></li>
              <li><strong>- laboratoires<strong></li>
              <li><strong>- écoles doctorales<strong></li>
              <li><strong>- équipements<strong></li>
            </ul>
          </div>
          <div>
            <p style="display:none;">Il est possible de faire la recherche par nom et par thème. Voici la liste des thèmes //twig hesmaettes</p>
          </div>
        </div>
      </div>



<!-- 
  <div id="index-banner" >
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        <div class="col offset-s3 s6 "><img src="img/hesam.jpg" class="responsive-img" alt="Logo HESAM Université"></div>
          <form action="rechercher"   method="get">
            <input type="text" name="search">
            <input class="btn" type="submit" value="Rechercher">
          </form>
        </div>
      </div>
    </div>
  </div> -->

{% endblock %}