<article>
    <h2>TEST</h2>
    <div class="intertitre row">
        <p>La1 majeure partie des étudiants et des auditeurs sont inscrits dans le domaine disciplinaire "Sciences pour l'ingénieur"</p>
    </div>
    <div id="theme">
         <svg style="height:500px;"></svg>
    </div>
</article>